.wrapper {
  display: flex;
  height: 70px;
  background: black;
  color: #fff;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.navlinks a {
  margin: 0 20px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}